@using ViewModels
@model FooterModel

<div id="footer">
    <div class="container text-center">
        <hr class="divider" />
        <p class="text-muted credit small">Copyright © @Model.CompanyName @Model.Year</p>
    </div>
</div>