<li><a href="@Url.Action("Registration", "User")"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
<li><a href="@Url.Action("Login", "Authentication")"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>