@model ViewModels.BookModel

@{
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

@section TitleSection{
    Administrar Libros
}

@section ContentBody{
    
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-4">
        <div id="SearchBookSection" class="panel panel-default col-md-12">
            @Html.Partial("SearchBookSection")
        </div>
    </div>
    <div class="col-md-8">
        <div id="BookDataSection" class="panel panel-default col-md-12">
            @Html.Partial("BookDataSection")
        </div>
    </div>
</div>
}
